<%= form_for(@search_subscription) do |f| %>
  <% if @search_subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search_subscription.errors.count, "error") %> prohibited this search_subscription from being saved:</h2>

      <ul>
      <% @search_subscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
