<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @search_string.content %>
</p>


<%= link_to 'Edit', edit_search_string_path(@search_string) %> |
<%= link_to 'Back', search_strings_path %>
