<%= form_for(@list_ownership) do |f| %>
  <% if @list_ownership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list_ownership.errors.count, "error") %> prohibited this list_ownership from being saved:</h2>

      <ul>
      <% @list_ownership.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
