<div class="left-sidebar existing-subscriptions">
  <ul class="subscribed">
    <% @list_subscriptions.each do |subscription| %>
	  <li><%= subscription.name %></li>
    <% end %>
  </ul>
</div>
<div class="right-sidebar new-subscriptions">
  <ul class="not-yet-subscribed">
  <% @available_lists.each do |list| %>
    <li><%= list.name %></li>
  <% end %>
</div>