<h1>Listing list_subscriptions</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @list_subscriptions.each do |list_subscription| %>
  <tr>
    <td><%= link_to 'Show', list_subscription %></td>
    <td><%= link_to 'Edit', edit_list_subscription_path(list_subscription) %></td>
    <td><%= link_to 'Destroy', list_subscription, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New List subscription', new_list_subscription_path %>
